*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', sans-serif;
}


.container{

}

/* 프로필 위치 이동 */

.header{ /* 헤더 */
    top: 0px;
    background-color: #242526;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 57px;
    justify-content: space-between;
    position: fixed;
    width: 100%;

}

.header_left{ /* 헤더 왼쪽 */

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 300px;
    justify-content: space-around;
    padding-left: 10px;
 

}

.modal-header_left{ /* 헤더 왼쪽 */
    position: fixed;
    left: 0px;
    top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 300px;
    justify-content: space-around;
    padding-left: 10px;
 

}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #3A3B3C;
    background-color: #3A3B3C;
    height: 38px;
    border-radius: 20px;
    width: 240px;
    

}

.search input{
    width: 170px;
    background-color: #3A3B3C;
    box-shadow: none;
    border-style: none;
    height: 40px;
    border: none;
    outline-style: none;
    color: white;
    
}

.search input::placeholder{
    color: #85878a;
    font-size: 15px;
    font-weight: 500;
}



.header_left a img{ /* 페북 아이콘 */
    width: 44px;
    
}

.modal-header_left a img{ /* 페북 아이콘 */
    width: 44px;
    
}



.search img{ /* 검색 아이콘 */
    width: 25px;
    padding-left: 8px;
}

.header-mid{    /* 헤더 중간 */
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #242526;
    justify-content: space-around;
    width: 600px;
    height: 57px;

}

.header-mid div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 13px;
    padding-bottom: 10px;
    border-radius: 8px;
    transition: 0.2s;
    

}

.header-mid div:not(#home):hover{
    transition: 0s;
    background-color: #3A3B3C;

}

.header-mid img{
    width: 32px;
}

#home{
    padding-bottom: 8px;
    border-bottom: 4px solid #4193FE;
    border-radius: 0px;
}

.header-right{  /* 헤더 오른쪽 */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;


}

.modal-header-right{  /* 헤더 오른쪽 */
    position: fixed;
    top: 8px;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;


}

.head-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90px;
    color: #E4E6EB;
    font-weight: bold;
    border-radius: 50px;
    transition: 0.3s;
    margin-right: 20px;
}

.head-profile:hover{
    background-color: #3A3B3C;
    transition: 0s;
}

.head-profile p{
    padding: 5px;
    padding-bottom: 10px;
}

.head-profile img{
    width: 32px;

}

.head-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 185px;
    justify-content: space-between;
}

.head-buttons div{

    background-color: #3A3B3C;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: 0.2s;
}

.head-buttons div:hover{
    background-color: #4E4F50;
    transition: 0s;

}

.head-buttons img{
    width: 32px;
}



.body{  /* 바디 */
    
    height: calc(100vh - 57px);
    padding-top: 57px;


}

.body-left{
    width: 23%;
    background-color: #18191A;
    position: fixed;
    height: 100%;
    left: 0px;
    transition: 0.3s;
    padding-top: 15px;
}

.body-left div{
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    padding-left: 4px;
    color: #E4E6EB;
    font-weight: 400;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: 0.3s;
}

.body-left div:hover{
    background-color: #303031;
    transition: 0s;
}

.body-left div img{
    width: 40px;
    padding-right: 10px;
}

#left-more img{
    width: 38px;
}

#notice{ /* 이용약관 어쩌고 */
    position: fixed;
    color: #E4E6EB;
    font-size: 13px;
    padding-left: 16px;
    padding-top: 10px;
    width: 330px;
    color: #B0B3B8;
    bottom: 20px;
}







.body-right{
    position: fixed;
    right: 0px;
    width: 23%;
    height: calc(100vh - 57px);
    background-color: #18191A;
   /*  margin-right: 17px; */
    
}

.body-right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:#B0B3B8;
    font-weight: bold;
    font-size: 17px;
    padding-top: 18px;
    padding-bottom: 8px;
    ;
}

.body-right-header p{
    padding-left: 16px;
    
}

.body-right-header-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    width: 110px;
    
}

.body-right-header-icons div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: 0.2s;
}

.body-right-header-icons div:hover{
    background-color:#303031;
    transition: 0s;

}

.body-right-header-icons img{
    width: 24px;
}

.body-right-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#E4E6EB;
    padding-bottom: 10px;
    width: px;
}

.body-right-body div{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 93%;
}



.body-right-body img{
    width: 40px;
    padding-right: 9px;
}

#underline{
    border-bottom: 2px solid #3E4042;
    width: 92%;
}

.body-right-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-right-footer-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.body-right-footer-header{
  padding-left: 16px;
    color:#B0B3B8;
    font-weight: bold;
    font-size: 17px;  
}

.body-right-footer-body{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    width: 93%;
    color: #E4E6EB;

}

.body-right-footer-body img{
    width: 40px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.body-right-body div{
    transition: 0.2s;
}
.body-right-footer-body{
    transition: 0.2s;
}

.body-right-body div:not(#underline):hover{
    background-color: #303031;
    transition: 0s;
}

.body-right-footer-body:hover{
    background-color: #303031;
    transition: 0s;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body-mid{
    background-color:#18191A;

    left: 23%;
    right: 23%;
    width: 54%;
    height: calc(100vh - 57px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    
}

.body-mid-wrapper{

    height: calc(100vh - 57px);
    width: 75%;
}


.post{

    height: 124px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #242526;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.post-header{
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #3A3B3C;


}

.post-header img{
    width: 45px;
    padding-right: 10px;
}

.post-header button{
    height: 40px;
    width: 90%;
    border: none;
    background-color: #3A3B3C;
    border-radius: 50px;
    padding-left: 10px;
    color: white;
}

.post-header button{
    color: #B0B3B8;
    font-size: 17px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.post-header button:hover{
    background-color: #4E4F50;
    transition: 0s;
}

.post-footer{
    height: 50%;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-buttons{

    height: 65%;
    width: 33%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #B0B3B8;
    font-weight: bold;
    transition: 0.3s;

}

.post-buttons p{
    padding-right: 10px;
}

.post-buttons img{
    width: 38px;

}

.post-buttons:hover{
    background-color: #3A3B3C;
    transition: 0s;
}

.edit-modal-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #000000c5;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-modal-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #000000c5;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-modal{

    width: 500px;
    height: 470px;
    background-color: #242526;
    border-radius: 10px;
    border: 1px solid #2F3031;
}

.post-modal-header{

    color: white;
    display: flex;
    height: 12.5%;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #2F3031;
}

.post-modal-header p{
    padding-left: 185px;
    font-weight: bold;
    font-size: 20px;
}

#xbutton{

    border-radius: 50px;
    height: 38px;
    width: 38px;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-left: 140px;
    background-color: #3A3B3C;
    transition: 0.3s;

    
}

#xbutton:hover{
    background-color: #4E4F50;
    transition: 0s;

}


.post-modal-body-head{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    padding-left: 2px;
}

.post-modal-body-head-left{
    width: 45px;
    padding-left: 8px;
    padding-right: 8px;
}

.post-modal-body-head-right{
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Full-disclosure{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    width: 105px;
    justify-content: space-around;
    height: 24px;
    background-color: #3A3B3C;
    border-radius: 5px;
}

#first-img{
    width: 12px;
    padding-left: 5px;
}

#second-img{
    padding-right: 5px;
}

.post-modal-body{

    height: 55%;

}

.post-modal-body-body{

    height: 50%;
    padding-left: 16px;
    padding-top: 8px;
}

.post-modal-body-body textarea{
    width: calc(100% - 16px);
    text-align: left;
    vertical-align: top;
    height: 100%;
    word-break: break-word;
    resize: none;
    border: none;
    background-color: #242526;
    color: white;
    font-size: 25px;
}

.post-modal-body-body textarea::placeholder{
    color: #B0B3B8;
}

.post-modal-body-body textarea:focus::placeholder{
    color: #8A8D91;
}

.post-modal-body-body textarea:focus{
    outline: none;
}



.post-modal-body-footer img{
    width: 40px;
    padding-left: 8px;

}

.post-modal-footer{
    padding-top: 30px;
    height: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.post-modal-footer-head{
    border: 1px solid #3E4042;
    border-radius: 10px;
    width: 94.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.post-modal-footer-head p{
    padding-left: 14px;
}

.post-modal-footer button{
    width: 94.5%;
    border: none;
    border-radius: 5px;
    height: 35px;
    margin-top: 15px;
    background-color: #505151;
    color : #858686;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;

}

.post-modal-footer-head-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    padding-right: 14px;
}

.post-modal-footer-head-buttons div{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    border-radius: 50px;
    transition: 0.3s;
}

.post-modal-footer-head-buttons div:hover{
    background-color: #3A3B3C;
    transition: 0s;



}

.post-modal-body-body-top{
    border-top: 1px solid #3E4042;
    border-bottom: 1px solid #3E4042;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.post-modal-body-body-top input{
    width: 94.5%;
    height: 30px;
    border: none;
    font-size: 27px;
    background-color: #242526;
    outline: none;
    color: white;
    padding-left: 8px;

}

.post-modal-body-body-top input::placeholder{
    font-size: 25px;
    color: #B0B3B8;
}

.post-modal-body-body-top input:focus::placeholder{
    color: #8A8D91;
}

.on:hover {
    background-color: #4294FF  !important;
    transition: 0s;

}

.off:hover{

}

.postings{
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #242526;

}

#last{
   padding: 10px;
    
}

#posting-date{
    color: #B0B3B8;
}

.posting-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    padding-left: 10px;
    padding-bottom: 0px;

}

.posting-header-left{
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    justify-self: flex-start;

}

.posting-header-left-text{
    height: 40px;
    padding-left: 5px;
}

.posting-header-left-text div{
    font-size: 12px;
    font-weight: normal;
   
}

.posting-header-left img{
    width: 45px;
}

.posting-header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.posting-header-right:hover{
    transition: 0s;
    background-color: #3A3B3C;
}


.posting-header-right img{
    width: 25px;
    
}

.posting-body{
    padding-top: 3px;
    padding-bottom: 0px;
    font-size: 25px;
    color: white;
}

.posting-body p{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
    padding-left: 10px;
}

.posting-footer{
    display: flex;
    flex-direction: column;
}

.posting-footer-top{
    border-top: 1px solid #3E4042;
    border-bottom: 1px solid #3E4042;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.posting-footer-top div{

    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 79%;
    color: #B0B3B8;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.posting-footer-top div:hover{
    background-color: #3A3B3C;
    transition: 0s;
}

.posting-footer-top div p {
    padding-left: 6px;
    padding-bottom: 3px;
    
}

.posting-footer-bottom{

    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;

}

.posting-footer-bottom{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.posting-footer-bottom img{
    width: 35px;
}

.comment{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 4px;
    color: #B0B3B8;
    border-radius: 50px;
    background-color: #3A3B3C;
    padding-left: 10px;
}

.comment-imgs{

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    justify-content: space-between;
    padding-right: 8px;
}

#img1{
padding-right: 1px;
}
#img2{
padding-right: 1px;
padding-bottom: 1px;
}
#img3{

}
#img4{
padding-left: 1px;
padding-bottom: 1px;

}

.comment-imgs div{

    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: 0.3s;

}

.comment-imgs div:hover{
    background-color: #4E4F50;
    transition: 0s;
}

.comment-imgs img{
    width: 20px;
}

.posting-title{
    font-weight: bold;
    

}

.posting-title p {
    padding-left: 0px;
    padding-left: 10px;
    font-size: 27px;
}

#post-id{
    display: flex;
    color: white;
    padding-top: 16px;
    padding-left: 10px;
    font-size: 12px;    
}

#edit-top{
    padding-right: 20px;
    padding-left: 210px;

}

.posting-header-right{


}

.posting-header-right2{

    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.posting-header-right2:hover{
    transition: 0s;
    background-color: #3A3B3C;
}

.posting-header-right-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}














/* 옆 리스트 스타일 변경 */
@media (max-width: 1100px){
    #asdf{
        width: 100px;
        height: 100px;
        background-color: rgb(0, 255, 115);
    }
}

/* 오른쪽 창 스타일 변경 */
@media (max-width: 905){
    #asdf{
        width: 100px;
        height: 100px;
        background-color: rgb(0, 26, 255);
    }
}

/* 스토리창 하나 감소 */
@media (max-width: 560){
    #asdf{
        width: 100px;
        height: 100px;
        background-color: rgb(0, 26, 255);
    }
}



 #test{
    border: 2px solid black;
}